/*  声明 entity-panel 在页面上的位置；
    修饰 container 本身*/
.entity-panel-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 60%;
    z-index: 1000;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2); /* 为 container 添加阴影 */
}

/*  声明 entity-panel 在 container 中的大小和位置；
    并作为内部元素的参照对象
*/
.entity-panel {
    z-index: 1001;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /*background-color: #f8f8f8;*/
    background-color: #fff;
}

/* 高度值需要参照左侧的列表区 */
.entity-panel-header {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #cfcfcf;
    background-color: #fff;
    color: #717171;
    /*overflow: hidden;*/
}

.entity-panel-body {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 49px;
    padding-left: 7px;
    /*background-color: #f5f8f1;*/
}

/* 高度值需要参照左侧的列表区 */
.entity-panel-footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    /*background-color: red;*/
    background-color: #fff;
    color: #717171;
    border-top: 1px solid #cfcfcf;
}

.tabset-wrapper{
    position: absolute;
    left: 15px;
    bottom: -1px;
    width: 100%;
    z-index: 2020;
    background-color: #fff;
}

.tabset-wrapper a{
    color: #428bca ;
    font-weight: 600;
}

.entity-content{
    padding-top: 15px;
    font-size: 14px;
}

.entity-operator{
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    /* todo: 绝对定位导致滑动消失后仍然留在页面上 */
    /*position: absolute;*/
    /*right: 15px;*/
    /*bottom: 5px;*/
}





