<section class="vbox" ng-controller="DraftCtrl"
         on-document-hotkeys="{type:'keydown', key:'ctrl+n', handler:openModal}">
  <header class="header bg-white b-b clearfix">
    <form class="talbe-search" method="post" action="">
      <div class="row m-t-sm">
        <div class="col-sm-7 m-b-xs">
          <div class="btn-group">
            <my-btn-refulsh></my-btn-refulsh>
            <button type="button" class="btn btn-sm btn-default" title="删除" data-toggle="batch"
                    ng-disabled="!batchIsActived()" ng-click="deleteItems()">
              <i class="fa fa-trash-o" tooltip-placement="left" tooltip="删除"></i>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" style="padding: 5px 7px;"
                    ng-click="openModal()">
              <i class="fa fa-plus  m-l-xs m-r-xs green-tooltip " tooltip-placement="right" tooltip="新增"></i><!--（ctrl+alt+n）-->
            </button>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 m-b-xs">
          <div class="input-group">
            <input type="text" class="form-control input-sm" id="employeeTxt" value="" name="employee"
                   placeholder="请输入标题"/>
              <span class="input-group-btn">
                  <button class="btn btn-sm btn-default" type="submit" title="搜索" id="sousuoBut">
                    <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
        </div>
      </div>
      <input type="hidden" name="pageNumber" id="pageNumber" value="1"/>
      <input type="hidden" name="orderBy" id="orderBy" value="desc"/>
      <input type="hidden" name="order" id="order" value="time"/>
      <script>
        var searchTypeTxt = document.getElementById('searchTypeTxt');
        var employeeTxt = document.getElementById('employeeTxt');
        var sousuoBut = document.getElementById('sousuoBut');
        sousuoBut.onmouseover = function () {
          if(searchTypeTxt.innerHTML == '按时间段查询') {
            employeeTxt.setAttribute("data-rule-required", "true");
          } else {
            employeeTxt.setAttribute("data-rule-required", "false");
          }
        }
      </script>
    </form>
  </header>
  <section class="scrollable  wrapper">
    <section class="panel panel-default">
      <div class="table-responsive">
        <table id="userList" class="table table-hover m-b-none entity-view">
          <thead>
          <tr>
            <th class="with-checkbox">
              <input type="checkbox" ng-model="selectAllCheckbox.isChecked" ng-click="selectAllItem()">
            </th>
            <th style="width:60px">序号</th>
            <th style="width:50%">文件标题</th>
            <th>发起人</th>
            <th>发起时间</th>
          </tr>
          </thead>
          <tbody>
          <tr bindonce ng-repeat="item in itemList" ng-click="mySliderToggle(item)" ng-class="isSelected(item)">
            <td>
              <input type="checkbox" ng-model="item.selected" ng-checked="item.selected"
                     ng-click="selectItem($event)">
            </td>
            <td><span bo-text="$index+1"></span></td>
            <!-- todo: 实际序号值从数据库获取 -->
            <td><span bo-text="item.bt"></span></td>
            <td><span bo-text="item.fqr"></span></td>
            <td><span bo-text="item.fqsj"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>
  <footer class="footer bg-white b-t">
    <div class="row text-center-xs">
      <div class="col-md-6 hidden-sm">
        <p class="text-muted m-t">总共0条 当前为第1页</p>
      </div>
      <div class="col-md-6 col-sm-12 text-right text-center-xs">
        <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total=""
            data-page-current=""></ul>
      </div>
    </div>
  </footer>
  <div my-slider-show slider-width="60%" class="entity-panel-wrapper">
    <div ng-show="true" ng-include="'entityPanel.html'" ng-controller="EntityPanelCtrl"></div>
  </div>
</section>
<script type="text/ng-template" id="entityPanel.html">
  <section class="entity-panel">
    <section class="entity-panel-header">
      <div class="tabset-wrapper">
        <tabset>
          <tab select="selectApprovalForm()">
            <tab-heading>
              <i class="fa fa-file-text"></i> 审批单
            </tab-heading>
            <!-- 标签内容移至 entity-panel-body -->
          </tab>
          <tab select="selectBody()">
            <tab-heading>
              <i class="fa fa-file-text"></i> 正文
            </tab-heading>
          </tab>
        </tabset>
      </div>
    </section>
    <section class="entity-panel-body">
      <div ng-include="tab.content"></div>
    </section>
    <section class="entity-panel-footer" >
      <div ng-include="tab.operator"></div>
    </section>
  </section>
</script>
