<form class="form-horizontal form-validate form-modal" method="post" action="">
    <!--<div class="modal-dialog " >&lt;!&ndash;style="width:780px;"&ndash;&gt;-->
    <!--<div class="modal-content">-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">修改用户</h4>
    </div>
    <div class="modal-body modal-body-offset-right">
        <div class="form-group">
            <label class="col-sm-2 control-label must">姓名</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" data-rule-required="true" name="username"
                       value="{{user.username}}" maxlength='40'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label must">帐号</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" data-rule-required="true"
                       placeholder="成员唯一标识，设定后不可更改，不支持中文" name="bizmpid"
                       value='{{user.userno}}' readonly maxlength='120'
                        />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label must">所在部门</label>

            <div class="col-sm-9">
                <input type="text" class="form-control " data-rule-required="true" data-toggle="tokeninputtree"
                       name="department" data-path='wAddressList/getDepartment' data-selected="[23095]"
                       aria-required="true" style="display: none;"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">岗位</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="position" value="{{user.job}}" maxlength='600'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">工作电话</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="landline" value='{{user.landline}}'
                       maxlength='120'/>
            </div>
            <!--
            <div class="col-sm-10">
                <div class="form-group col-sm-3">
                    <input type="text" class="form-control" name="t1" placeholder="区号" value="" maxlength='5'/>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="t2" placeholder="固话" value='' maxlength='10'/>
                </div>
                <div class="form-group col-sm-3">
                    <input type="text" class="form-control" name="t3" placeholder="分机" value='' maxlength='8'/>
                </div>
            </div>-->
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">手机号码</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="mobile" value='{{user.cellphone}}'
                       maxlength='120'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">数据权限</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="mobile" value='{{user.datapriv}}'
                       maxlength='120'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">操作权限</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="email" value='{{user.operpriv}}'
                       maxlength='220'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户状态</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="weixinid" value='{{user.state}}'
                       maxlength='120'/>
            </div>
        </div>
        <div ng-controller="UerRoleCtrl">
            <div class="pull-left ">
                <section class="panel panel-default select_org_lists"><!--style="margin-left: 70px;"-->
                    <header class="panel-heading bg-light">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active switch-li">
                                <a href="#classify" data-toggle="tab" data-fas="true" data-create="true"
                                   class="js_load_fname">用户角色</a>
                            </li>
                            <!--<li class="switch-li">
                                <a href="#list" data-toggle="tab" data-fas="false" data-create="false"
                                   class="js_load_depart">按部门筛选</a>
                            </li>-->
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" style="overflow:hidden" id="classify">
                                <div class="form-group m-r-n">
                                    <div class="col-sm-8">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownMenu1" data-toggle="dropdown">
                                                选择应用
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"
                                                style="height: 140px; overflow: auto;">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">投票</a>
                                                </li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                           href="#">收文管理</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                           href="#">发文管理</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">考勤</a>
                                                </li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                           href="#">通讯录</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                           href="#">流程审批</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">请假</a>
                                                </li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">报销</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-unstyled list-inline list-letter">
                                    <li class="selected" data-letter="all"><a href="javascript:;">应用角色</a></li>
                                </ul>
                                <div class="member-list-div js_member_div">
                                    <div id="listed">
                                        <div class="searchItem clearfix" data-id="31869" data-selected="false">
                                            <div class="fullName ThemeColor3">投票成员</div>
                                            <div class="addItem">
                                                <i class="fa fa-plus-circle js_add_member" title="添加"></i>
                                            </div>
                                        </div>
                                        <div class="searchItem clearfix" data-id="31868" data-selected="false">
                                            <div class="fullName ThemeColor3">投票管理员</div>
                                            <div class="addItem">
                                                <i class="fa fa-plus-circle js_add_member" title="添加"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="pull-left">
                <section class="panel panel-default panel-no-l  select_dest_lists">
                    <!--style="width:240px; margin-right:70px;"-->
                    <header class="panel-heading bg-light">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:void(0)">已选择</a>
                            </li>
                            <li class="pull-right"><a href="javascript:;" class="js_del_all" title="全部清空"><i
                                    class="fa fa-trash-o"></i></a></li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="member-list-div js_member_select_div">
                                    <div class="searchItem clearfix" data-id="31869">
                                        <div class="fullName ThemeColor3">投票成员</div>
                                        <div class="addItem">
                                            <i class="fa fa-times-circle js_del_member" title="删除"></i>
                                        </div>
                                        <div class="searchItem clearfix" data-id="31867">
                                            <div class="fullName ThemeColor3">投票管理员</div>
                                            <div class="addItem">
                                                <i class="fa fa-times-circle js_del_member" title="删除"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <!--<input type='hidden' name='mysignstr' value="3b17aed51a87061444a64a6f441a09d9">-->
        <!--<input type='hidden' name='type' value="edit">-->
        <!--<input type="hidden" value="[]" name="selectId" id="selectId">-->
        <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled ng-click="ok()">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
    </div>
    <!--</div>-->
    <!--</div>-->
</form>
