<section class="vbox" ng-controller="DeptManageCtrl" on-document-mousedown="hideTreeContentMenu()">
  <header class="header bg-white b-b clearfix">
    <p>右键可编辑</p>
  </header>
  <section class="scrollable wrapper w-f">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel panel-default"  style="width: 35%; height: 100%; float: left;">
          <div class="panel-body" >
            <div js-tree="treeConfig" ng-model="treeData" tree="treeInstance"></div>
          </div>
        </div>
<!--
        <div class="panel panel-default" style="margin-left: 40%;">
          <div class="panel-body">
              <form class="form-horizontal form-validate form-modal" method="post" action="">
                <div class="form-group">
                  <label class="col-sm-2 control-label must">单位编码</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"
                           maxlength='40'/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label must">单位名称</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label must">单位全称</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control"
                           maxlength='40'/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label must">单位类型</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control"
                           maxlength='40'/>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-loading-text="保存中..." ng-click="submit()">保存
                  </button>
                </div>
              </form>
          </div>
        </div>
-->
      </div>
    </div>
  </section>
  <footer class="footer bg-white b-t">
    <div class="row text-center-xs">

    </div>
  </footer>
</section>