<div ng-controller="DeptManageCtrl">
    <div class="wrapper b-b header"><b>部门管理</b>
        <small class="m-l-xs text-muted">右键可编辑</small>
    </div>
    <div>
        <div js-tree="treeConfig" ng-model="treeData" tree="treeInstance" ></div>
        <!--<js-tree tree-data="scope" tree-model="treeModel"></js-tree>-->
        <!--<js-tree tree-data="html" tree-src="templates/deptTree.html"></js-tree>-->

        <!--<div class="js_party_tree tree_box jstree  jstree-default jstree-default-responsive"
             data-method-path="../privilege/grp-list.json" data-selected="" role="tree" aria-activedescendant="23095">
            &lt;!&ndash;<ul class="jstree-container-ul jstree-children jstree-wholerow-ul jstree-no-dots">
                <li role="treeitem" aria-expanded="true" id="20762" class="jstree-node  jstree-open jstree-last">
                    <div unselectable="on" class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl"></i>
                    <a class="jstree-anchor" href="#">
                        <i class="jstree-icon jstree-themeicon icon icon_folder_blue jstree-themeicon-custom"></i>
                        顶级部门
                    </a>
                    <ul role="group" class="jstree-children">
                        <li role="treeitem" id="23095" class="jstree-node  jstree-leaf jstree-last" aria-selected="false">
                            <div unselectable="on" class="jstree-wholerow">&nbsp;</div>
                            <i class="jstree-icon jstree-ocl"></i>
                            <a class="jstree-anchor" href="#">
                                <i class="jstree-icon jstree-themeicon icon icon_folder_blue jstree-themeicon-custom"></i>
                                营运部
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>&ndash;&gt;
        </div>-->

        <div class="panel panel-default grp-list-right">
            <!-- Default panel contents -->
            <!--<div class="panel-heading">单位管理</div>-->
            <div class="panel-body">
                单位名称
            </div>

            <!-- Table -->
            <table class="table" style="border-bottom: 0px">
                <tr>
                    <td>单位编码</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>单位名称</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>单位全称</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>单位类型</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>排序号</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default">修改</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>