<section class="vbox" ng-controller="UserManageCtrl">
    <header class="header bg-white b-b clearfix">
        <form class="talbe-search" method="post" action="">
            <div class="row m-t-sm">
                <div class="col-sm-7 m-b-xs">
                    <div class="btn-group">
                        <my-btn-refulsh></my-btn-refulsh>
                        <button type="button" class="btn btn-sm btn-default" title="删除" data-toggle="batch"
                                ng-disabled="!batchIsActived()" ng-click="deleteUsers()">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
                            <i class="fa fa-plus  m-l-xs m-r-xs"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:;" my-user-modal data-template="templates/userEdit.html">新增成员</a>
                            </li>
                            <li>
                                <a href="javascript:;"
                                   data-toggle="ajaxModal">批量导入</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm" data-token-limit="1"
                           id="tokendemo"
                           data-toggle="tokeninputtree" name="department"
                           data-selected="[]"
                           placeholder="请选择部门"/>
                </div>
                <div class="col-sm-2 m-b-xs">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="employeeTxt" value=""
                               name="employee" placeholder="请输入员工"/>
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="submit" title="搜索" id="sousuoBut">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="pageNumber" id="pageNumber" value="1"/>
            <input type="hidden" name="orderBy" id="orderBy" value="desc"/>
            <input type="hidden" name="order" id="order" value="time"/>
            <script>
                var searchTypeTxt = document.getElementById('searchTypeTxt');
                var employeeTxt = document.getElementById('employeeTxt');
                var sousuoBut = document.getElementById('sousuoBut');
                sousuoBut.onmouseover = function () {
                    if (searchTypeTxt.innerHTML == '按时间段查询') {
                        employeeTxt.setAttribute("data-rule-required", "true");
                    } else {
                        employeeTxt.setAttribute("data-rule-required", "false");
                    }
                }
            </script>
        </form>
    </header>
    <section class="scrollable  wrapper">
        <section class="panel panel-default">
            <div class="table-responsive">
                <table id="userList" class="table table-hover m-b-none entity-view">
                    <thead>
                    <tr>
                        <th class="with-checkbox">
                            <input type="checkbox" ng-model="selectAllCheckbox.isChecked" ng-click="selectAllUser()">
                        </th>
                        <th>用户姓名</th>
                        <th>用户账号</th>
                        <th>所属部门</th>
                        <th>岗位</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr bindonce ng-repeat="user in userList" ng-class="isSelected(user)"
                        ng-click="toggle(user, $event)">
                        <td>
                            <input type="checkbox" ng-model="user.selected" ng-checked="user.selected"
                                   ng-click="selectUser($event)">
                        </td>
                        <td><span bo-text="user.username"></span></td>
                        <td><span bo-text="user.userno"></span></td>
                        <td><span bo-text="user.deptname"></span></td>
                        <td><span bo-text="user.position"></span></td>
                        <td><span bo-text="user.userstate"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row text-center-xs">
            <div class="col-md-6 hidden-sm">
                <p class="text-muted m-t">总共0条 当前为第1页</p>
            </div>
            <div class="col-md-6 col-sm-12 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total=""
                    data-page-current=""></ul>
            </div>
        </div>
    </footer>
    <section id="user-entity-panel" class="entity-panel" my-user-entity user="user" ></section>
</section>
<script type="text/ng-template" id="entityContent.html">
    <section class="entity-panel-wrapper">
        <header class="entity-panel-header header">
            <p>成员资料</p>
            <button type="button" class="close m-t" ng-click="colseEntity()">&times;</button><!--data-dismiss="entity"-->
        </header>
        <div class="entity-panel-body form-horizontal">
            <div class="col-sm-offset-1  m-t-sm m-b-sm">
                <div class="media m-xs">
                    <span class="pull-left thumb-md">
                    </span>

                    <div class="pull-right">
                    </div>
                    <div class="media-body">
                        <h3 class="m-t-none"><b>{{user.username}}</b></h3>

                        <p>{{user.userno}}</p>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CA 卡号</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.canumber}}</p>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">工作电话</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.landline}}</p>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">手机</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.cellphone}}</p>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">部门</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.deptname}}</p>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">岗位</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.position}}</p>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数据权限</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.datapriv}}</p>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">操作权限</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.operpriv}}</p>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">用户状态</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{user.state}}</p>
                </div>
            </div>
            <!--<div class="container">
                <table class="table treegrid-instance table-hover table-striped table-condensed" style="width: 50%">
                    <tr class="treegrid-1">
                        <td>投票</td>
                    </tr>
                    <tr class="treegrid-2 treegrid-parent-1">
                        <td>投票成员</td>
                    </tr>
                    <tr class="treegrid-3 treegrid-parent-1">
                        <td>投票管理员</td>
                    </tr>
                    <tr class="treegrid-4 treegrid-parent-2">
                        <td>投票</td>
                    </tr>
                    <tr class="treegrid-5 treegrid-parent-3">
                        <td>发起投票</td>
                    </tr>
                    <tr class="treegrid-6 treegrid-parent-3">
                        <td>结束投票</td>
                    </tr>
                    <tr class="treegrid-7">
                        <td>收文办理</td>
                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                        <td>内勤</td>
                    </tr>
                    <tr class="treegrid-9 treegrid-parent-7">
                        <td>处长</td>
                    </tr>
                    <tr class="treegrid-10 treegrid-parent-7">
                        <td>副局长</td>
                    </tr>
                    <tr class="treegrid-11 treegrid-parent-7">
                        <td>局长</td>
                    </tr>
                    <tr class="treegrid-12 treegrid-parent-8">
                        <td>收文登记</td>
                    </tr>
                    <tr class="treegrid-13 treegrid-parent-8">
                        <td>拟文</td>
                    </tr>
                    <tr class="treegrid-15 treegrid-parent-9">
                        <td>拟文</td>
                    </tr>
                    <tr class="treegrid-16 treegrid-parent-10">
                        <td>批示</td>
                    </tr>
                    <tr class="treegrid-17 treegrid-parent-11">
                        <td>批示</td>
                    </tr>
                </table>
            </div>-->
        </div>
        <footer class="entity-panel-footer footer  text-right">
            <!-- 修改详情 -->
            <!--<my-btn-modal></>-->
            <button type="button" class="btn btn-default"  my-user-modal data-userno="{{ user.userno }}" data-template="templates/userEdit.html">修改</button>
        </footer>
    </section>

</script>

