<form class="form-horizontal form-validate form-modal" method="post" action="" >
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{ modal.title || '修改用户' }}</h4>
    </div>
    <div class="modal-body modal-body-offset-right">
        <div class="form-group">
            <label class="col-sm-2 control-label must">姓名</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" data-rule-required="true" name="username"
                      ng-model="user.username"  maxlength='40'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label must">帐号</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" data-rule-required="true"
                       placeholder="成员唯一标识，设定后不可更改，不支持中文" name="userno"
                       ng-model="user.userno" ng-readonly="!isNewUser" maxlength='120'
                        />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label must">所在部门</label>

            <div class="col-sm-9">
                <input type="text" class="form-control " data-rule-required="true" data-toggle="tokeninputtree"
                       name="deptname" data-path='wAddressList/getDepartment' data-selected="[23095]"
                       aria-required="true" style="display: none;"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">岗位</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="job" ng-model="user.position" maxlength='600'/><!--position-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">工作电话</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="landline" ng-model='user.landline'
                       maxlength='120'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">手机号码</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="cellphone" ng-model='user.cellphone'
                       maxlength='120'/><!--mobile-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">数据权限</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="datapriv" ng-model='user.datapriv'
                       maxlength='120'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">操作权限</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="operpriv" ng-model='user.operpriv'
                       maxlength='220'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户状态</label>

            <div class="col-sm-9">
                <input type="text" class="form-control js_partial_require" name="state" ng-model='user.state'
                       maxlength='120'/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">所有应用</label>

            <div class="col-sm-9">
                <div class="app-item thumb " bindonce ng-repeat="app in appRoleList" ng-click="toggleRoleList(app)"
                     ng-class="isSelectedApp(app)">
                    <img class="app-item-img thumb" bo-alt="app['appname']"
                         bo-src-i="../../../assets/img/app/{{ app['iconname'] }}">
                    <div class="app-item-name thumb">
                        <span bo-text="app.appname"></span>
                        <span class="pull-right text-muted" title="查看详情"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">分配角色</label>
            <div class="col-sm-9">
                <div ng-show="userRoleListLoaded">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ selectedApp['appname'] || '点击应用，分配角色'}}</div>
                        <div class="panel-body" style="height: 175px; overflow: auto">
                            <div ng-repeat="role in selectedApp['rolelist']" ng-click="toggleCheck(role)">
                                <input type="checkbox" value="{{ role['roleid'] }}"
                                       ng-checked="role.checked" style="vertical-align:middle; margin-top:-2px;"/>
                                <label style="margin-left: 10px;">{{ role['rolename'] }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-loading-text="保存中..." ng-click="submit()" >保存</button><!--disabled-->
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
