<section class="vbox" ng-controller="ListCtrl">
    <header class="header bg-white b-b clearfix">
        <form class="talbe-search" method="post" action="">
            <div class="row m-t-sm">
                <div class="col-sm-7 m-b-xs">
                    <div class="btn-group">
                        <my-btn-refulsh></my-btn-refulsh>
                        <button type="button" class="btn btn-sm btn-default" title="删除" data-toggle="batch"
                                ng-disabled="!batchIsActived()" ng-click="deleteUsers()">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
                            <i class="fa fa-plus  m-l-xs m-r-xs"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:;" my-user-modal data-template="templates/userEdit.html">新增成员</a>
                            </li>
                            <li>
                                <a href="javascript:;"
                                   data-toggle="ajaxModal">批量导入</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm" data-token-limit="1"
                           id="tokendemo"
                           data-toggle="tokeninputtree" name="department"
                           data-selected="[]"
                           placeholder="请选择部门"/>
                </div>
                <div class="col-sm-2 m-b-xs">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="employeeTxt" value=""
                               name="employee" placeholder="请输入员工"/>
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="submit" title="搜索" id="sousuoBut">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="pageNumber" id="pageNumber" value="1"/>
            <input type="hidden" name="orderBy" id="orderBy" value="desc"/>
            <input type="hidden" name="order" id="order" value="time"/>
            <script>
                var searchTypeTxt = document.getElementById('searchTypeTxt');
                var employeeTxt = document.getElementById('employeeTxt');
                var sousuoBut = document.getElementById('sousuoBut');
                sousuoBut.onmouseover = function () {
                    if (searchTypeTxt.innerHTML == '按时间段查询') {
                        employeeTxt.setAttribute("data-rule-required", "true");
                    } else {
                        employeeTxt.setAttribute("data-rule-required", "false");
                    }
                }
            </script>
        </form>
    </header>
    <section class="scrollable  wrapper">
        <section class="panel panel-default">
            <div class="table-responsive">
                <table id="userList" class="table table-hover m-b-none entity-view">
                    <thead>
                    <tr>
                        <th class="with-checkbox">
                            <input type="checkbox" ng-model="selectAllCheckbox.isChecked" ng-click="selectAllUser()">
                        </th>
                        <th>用户姓名</th>
                        <th>用户账号</th>
                        <th>所属部门</th>
                        <th>岗位</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr bindonce ng-repeat="user in userList" ng-class="isSelected(user)"
                        ng-click="toggle(user, $event)">
                        <td>
                            <input type="checkbox" ng-model="user.selected" ng-checked="user.selected" ng-click="selectUser($event)">
                        </td>
                        <td><span bo-text="user.username"></span></td>
                        <td><span bo-text="user.userno"></span></td>
                        <td><span bo-text="user.deptname"></span></td>
                        <td><span bo-text="user.job"></span></td>
                        <td><span bo-text="user.userstate"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row text-center-xs">
            <div class="col-md-6 hidden-sm">
                <p class="text-muted m-t">总共0条 当前为第1页</p>
            </div>
            <div class="col-md-6 col-sm-12 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total=""
                    data-page-current=""></ul>
            </div>
        </div>
    </footer>
</section>
